@{
    ViewBag.Title = "首页";
    ViewBag.ContainerTitle = "今日待办事项";
}

<div id="today-todos">
    @{
        await Html.RenderPartialAsync("_TodoListPartialView");
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/home.js"></script>
}