@model IEnumerable<TodoItem>

@{
    ViewBag.Title = "主页";
    ViewBag.ContainerTitle = "今日待办事项";
}

<div id="today-todos"></div>

@section Scripts {
    <script type="text/javascript">
        window.addEventListener("load", async () => {
            const response = await fetch("/todo/today");
            const htmlText = await response.text();
            document.querySelector("#today-todos").innerHTML = htmlText;
        });
    </script>
}