@using TodoList.Models
@using TodoList.Enums
@model IEnumerable<TodoItem>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo List</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1 class="mt-3 mb-3">Todo List</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>截止日期</th>
                    <th>状态</th>
                    <th>优先级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todo in Model)
                {
                    <tr>
                        <td>@todo.Title</td>
                        <td>@todo.DueDate?.ToString("yyyy/MM/dd")</td>
                        <td>
                            <span class="@todo.IsCompleted ? text-success : text-danger">
                                @(todo.IsCompleted ? "✔️" : "❌")
                            </span>
                        </td>
                        <td>
                            @switch(todo.Priority)
                            {
                                case PriorityLevel.Low:
                                    @: 低
                                    break;
                                case PriorityLevel.Medium:
                                    @: 中
                                    break;
                                case PriorityLevel.High:
                                    @: 高
                                    break;
                            }
                        </td>
                        <td>
                            <a class="btn btn-link" href="/Details/@todo.Id">详情</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>